<footer class="footer bg-dark py-3 mt-auto ">
    <!-- mt-auto makes the footer to be placed at the bottom of each page -->
    <div class="container">
        <span class="text-muted">&copy; Yelp Camp 2022</span>
    </div>
</footer>
