<% layout('layouts/boilerplate') %>
  <div class="alert alert-danger" role="alert">
    <h3>
      <%=err.message %>
    </h3>
    <!--  only render the full stack when in developing mode -->
    <% if(process.env.NODE_ENV !=='production' ){ %>
      <p>
        <%=err.stack %>
      </p>
      <% } %>

  </div>